<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= form_tag '/users/sign_out', method: :delete, "role" => "form" do %>
  <%= submit_tag 'Log Out', "class" => "btn btn-primary" %>
<% end %>