<tr>
  <td>
    <div class="clearfix">
      <p class="comment-author"><%= comment.author.name %> said: </p>
      <p class="timestamp"><%= comment.time_to_display %></p>    
    </div>
    <p class="comment-text"><%= comment.text %></p>
  </td>
</tr>