/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.page-content {
    margin: 1em;
}
/* Bootstrap Overrides */
.navbar {
    background-color: black;
    height: 30px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: black;
}

.form-control {
    width: auto;
}

body {
    padding-top: 50px;
}

.pagination a {
    color: #67aaff;
}

.top-link:hover {
    color: #6ecbff !important;
}

.breadcrumb {
    position: fixed;
    top:50px;
    left: 0px;
    height: 30px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
}

.page-header {
    margin-top: 45px;
}

.page-top-alert {
    margin-top: 30px;
}